# Build outputs
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/

# .NET user-specific files
*.user
*.userosscache
*.suo
*.cache
*.db
*.bak

# Logs
*.log

# NuGet packages
*.nupkg
*.snupkg
packages/

# Temporary files
*.tmp
*.temp

# JetBrains Rider
.idea/

# OS files
.DS_Store
Thumbs.db

.fake